:root{
    --renk-koyu-mavi:#075192;
    --renk-acik-mavi:#1e7ac5;
}

/*üst kısım*/
header{
    background-color:var(--renk-koyu-mavi);
    
}

#main-menu{
background-color: var(--renk-acik-mavi);
}

#site-baslik h2{
color: var(--renk-koyu-mavi);
}

#site-baslik h3{
    color: var(--renk-acik-mavi);
}

#main-menu .nav-link{
    color: #fff;
}

#baglanti-liste .list-group-item{
    background-color: var(--renk-acik-mavi);
}

#baglanti-liste .nav-link{
    color: #fff;
}

.carousel-indicators [data-bs-target] {
    width: 75px;
    height: auto;
    
}

#slider1 .carousel-caption h5{
background-color: #00000005;
color:#fff;
padding: 1rem ;
}

/*genel css*/
.sol-ust-yuvarla{
    border-top-left-radius: 1rem;
}

.sag-alt-yuvarla{
    border-bottom-right-radius: 2rem !important;
}